{% comment %}
  pass in :

  * prod (product but avoiding collision with globally scoped product)
{% endcomment %}
{%- liquid
  assign show_multiple_images = false
  if settings.product_listing_show_second_image_on_hover and prod.media.size > 1
    assign show_multiple_images = true
  endif

  assign current_variant = prod.selected_or_first_available_variant

  assign product_item_show_title = settings.product_listing_show_title
  if product_item_show_title == nil
    assign product_item_show_title = true
  endif
  if show_product_title == true or show_product_title == false
    assign product_item_show_title = show_product_title
  endif

  assign product_item_custom_text_source = settings.product_listing_custom_text_source | default: 'none'
  if custom_product_text_source != blank
    assign product_item_custom_text_source = custom_product_text_source
  endif

  assign product_item_custom_text_position = settings.product_listing_custom_text_position | default: 'above_title'
  if custom_product_text_position != blank
    assign product_item_custom_text_position = custom_product_text_position
  endif

  assign product_item_custom_text = ''
  case product_item_custom_text_source
    when 'name_type'
      assign product_item_custom_text = prod.metafields.custom.name_type.value | default: prod.metafields.custom.name_type
    when 'vendor'
      assign product_item_custom_text = prod.vendor
    when 'product_type'
      assign product_item_custom_text = prod.type
    when 'title'
      assign product_item_custom_text = prod.title
    when 'manual_text'
      assign product_item_custom_text = custom_product_text | default: settings.product_listing_custom_text
  endcase

  case product_columns
    when '5'
      assign sizes = '(max-width: 720px) calc((90vw - 12px) / 2), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 5), 270px'
    when '3'
      assign sizes = '(max-width: 720px) calc((90vw - 12px) / 2), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 3), 450px'
    when '2'
      assign sizes = '(max-width: 720px) calc((90vw - 12px) / 2), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 2), 690px'
    else
      # Using a 4 item grid as default for sizes
      assign sizes = '(max-width: 720px) calc((90vw - 12px) / 2), (max-width: 1400px) calc((93.4vw - (12px * 3)) / 4), 304px'
  endcase

  assign has_hover_swatches = false
-%}

{% if settings.enable_product_card_swatches %}
  {% capture first_swatchified_option %}{%- render "get-first-swatchified-option" with prod: prod -%}{%- endcapture -%}

  {% capture displayed_swatch_count %}{% render "get-variant-count-for-option" with prod: prod, option_name: first_swatchified_option %}{% endcapture %}
  {% assign displayed_swatch_count = displayed_swatch_count | plus: 0 %}

  {% if displayed_swatch_count != 0 %}
    {% assign has_hover_swatches = true %}
  {% endif %}
{% endif %}

<div
  class="
    product-item
    {% if has_hover_swatches %} product-item--with-hover-swatches{% endif %}
    {% if settings.enable_border_on_hover %}product-item--border-on-hover{% endif %}
    animation
    animation--item
    {% if has_grid_reveal %}animation--item-initial{% endif %}
  "
  style="    --z-index-item: {{ forloop.index }};"
>
  <div class="product-item__inner">
    <div class="product-item__media{% if show_multiple_images %} product-item__media--multiple-images{% endif %}">
      <a class="product-item__image-link" href="{{ prod.url | within: collection }}" aria-label="{{ prod.title }}">
        {%- if show_multiple_images -%}
          {%
            render 'image' with
            image: prod.media[0].preview_image,
            wrapper_class: 'product-item__image product-item__image--one',
            aspect_ratio: settings.product_listing_aspect_ratio,
            object_fit: settings.product_listing_media_fit
            include_placeholder: true,
            sizes: sizes
            src_set_type: "grid"
          %}
          {%
            render 'image' with
            image: prod.media[1].preview_image,
            wrapper_class: 'product-item__image product-item__image--two',
            aspect_ratio: settings.product_listing_aspect_ratio,
            object_fit: settings.product_listing_media_fit
            include_placeholder: true,
            sizes: sizes,
            no_lazy_load: true,
            src_set_type: "grid"
          %}
        {%- else -%}
          {%
            render 'image' with
            image: prod.featured_media,
            wrapper_class: 'product-item__image',
            aspect_ratio: settings.product_listing_aspect_ratio,
            object_fit: settings.product_listing_media_fit,
            include_placeholder: true
            include_placeholder: true,
            sizes: sizes
            src_set_type: "grid"
          %}
        {%- endif -%}
      </a>
      {% unless placeholder %}
        {%-
          render 'product-badges'
          with prod: prod,
          show_sale_badge: settings.product_listing_show_sale_badge,
          show_custom_badges: settings.product_listing_show_custom_badges,
          show_sold_out_badge: settings.product_listing_show_sold_out_badge
        -%}
      {% endunless %}

      {% if settings.enable_quick_view and quick_view_is_beneath != true %}
        <div class="product-item__hover-action-wrap">
          <button
            class="btn btn--tertiary btn--x-small show-product-quickview"
            tabindex="0"
            href="{{ prod.url | within: collection }}"
          >
            {{ 'products.product.quick_view' | t }}
          </button>
        </div>
      {% endif %}

      {% if settings.enable_quick_view %}
        <button
          class="product-item__hoverless-quick-view-button btn btn--rounded show-product-quickview"
          tabindex="0"
          href="{{ prod.url | within: collection }}"
          title="{{ 'products.product.quick_view' | t }}"
        >
          {% render 'icon' with icon: 'quick-buy' %}
        </button>
      {% endif %}
    </div>

    <div class="product-item__meta">
      <div class="product-item__text ta-c ">
        {%- capture product_item_title_markup -%}
          <h4 class="ff-body product-item__product-title fs-product-card-title">
            {%- if placeholder -%}
              {{ 'homepage.onboarding.product_title' | t }}
            {%- else -%}
              <a href="{{ prod.url | within: collection }}">{{ prod.title }}</a>
            {%- endif -%}
          </h4>
        {%- endcapture -%}

        {%- capture product_item_custom_text_markup -%}
          {%- if product_item_custom_text != blank -%}
            <h4 class="ff-body product-item__custom-text fs-product-card-title">
              {%- if placeholder -%}
                {{ product_item_custom_text }}
              {%- else -%}
                <a href="{{ prod.url | within: collection }}">{{ product_item_custom_text }}</a>
              {%- endif -%}
            </h4>
          {%- endif -%}
        {%- endcapture -%}

        {%- if product_item_custom_text_position == 'replace_title' -%}
          {%- if product_item_custom_text != blank -%}
            {{ product_item_custom_text_markup }}
          {%- elsif product_item_show_title -%}
            {{ product_item_title_markup }}
          {%- endif -%}
        {%- else -%}
          {%- if product_item_custom_text_position == 'above_title' -%}
            {{ product_item_custom_text_markup }}
          {%- endif -%}

          {%- if product_item_show_title -%}
            {{ product_item_title_markup }}
          {%- endif -%}

          {%- if product_item_custom_text_position == 'below_title' -%}
            {{ product_item_custom_text_markup }}
          {%- endif -%}
        {%- endif -%}

        {% if settings.product_listing_show_vendor and prod.vendor %}
          <h5 class="ff-body fs-body-60 product-item__product-vendor">
            {{ prod.vendor }}
          </h5>
        {% endif %}

        {% if settings.product_listing_show_rating %}
          {% render 'product-rating', prod: prod %}
        {% endif %}

        <p class="product-item__price">
          {% if placeholder %}
            {{ 9999 | money }}

          {% elsif prod.compare_at_price > prod.price %}
            <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
            <s class="t-subdued">{{ prod.compare_at_price | money }}</s>

            {% if prod.price_varies %}
              {%- assign sale_price = prod.price | money -%}
              {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
            {% else %}
              <span class="sale" data-price>{{ prod.price | money }}</span>
            {% endif %}

          {% else %}
            {% if prod.price_varies %}
              {%- assign price = prod.price | money -%}
              {{ 'products.product.from_lowest_price_html' | t: lowest_price: price }}
            {% else %}
              <span class="product-item__price">{{ prod.price | money }}</span>
            {% endif %}
          {% endif %}

          {% if settings.product_listing_show_discount %}
            <span class="displayed-discount fs-body-50">
              {%-
                render "get-display-discount"
                with prod: prod,
                format: settings.product_listing_discount_format
              -%}
            </span>
          {% endif %}

          {% render 'unit-price', item: current_variant %}
        </p>

        {%- assign cinq_availability_filter = prod.metafields.custom.availability_filter.value -%}
        {%- if cinq_availability_filter != blank -%}
          <div class="product-item__availability-badges" aria-label="Наявність">
            {%- for cinq_availability_label in cinq_availability_filter -%}
              {%- assign cinq_availability_label_downcase = cinq_availability_label | downcase -%}
              {%- assign cinq_availability_badge_class = 'product-item__availability-badge--default' -%}

              {%- if cinq_availability_label_downcase contains 'наяв' or cinq_availability_label_downcase contains 'in_stock' or cinq_availability_label_downcase contains 'in stock' -%}
                {%- assign cinq_availability_badge_class = 'product-item__availability-badge--in-stock' -%}
              {%- elsif cinq_availability_label_downcase contains 'замов' or cinq_availability_label_downcase contains 'preorder' or cinq_availability_label_downcase contains 'pre-order' -%}
                {%- assign cinq_availability_badge_class = 'product-item__availability-badge--preorder' -%}
              {%- endif -%}

              <span class="product-item__availability-badge {{ cinq_availability_badge_class }}">
                {{ cinq_availability_label }}
              </span>
            {%- endfor -%}
          </div>
        {%- endif -%}

        {% if has_hover_swatches %}
          <h5 class="ff-body fs-body-50 product-item__swatch-count">
            {{ 'products.product.swatch_count' | t: count: displayed_swatch_count }}
          </h5>
        {% endif %}
      </div>

      {%- if has_hover_swatches -%}
        <div class="product-item__variant-info">
          {%- render 'product-item-swatches' with prod: prod, option_name: first_swatchified_option -%}
        </div>
      {%- endif -%}

      {%- if settings.enable_quick_view and quick_view_is_beneath -%}
        <button class="btn btn--tertiary btn--x-small show-product-quickview" tabindex="0" href="{{ prod.url }}">
          {{ 'products.product.quick_view' | t }}
        </button>
      {%- endif -%}
    </div>
    <div class="product-item__hover-container"></div>
  </div>
</div>
